<<<<<<< HEAD:src/components/andy/Signs.css
.signs {
    margin-bottom: 40px;
    align-content: flex-start;
    position: relative;
    font-size: x-large;
}

.span{
    font-size: x-large;
    width: 300px;
    padding: 20px
}
=======

>>>>>>> 8dd02d8e792ce83cfd6532320fd1125616cd49f1:src/components/signs/Signs.css
